@using System.Web.Optimization
@{
    Layout = null;
    //Dans la requête en cours, on regarde l'url & on prend le chemin local, ce quie renvoie le Server/Controller/Methode
    var url = HttpContext.Current.Request.Url.LocalPath;
    //Transforme une chaine de caractères qui se coupe au niveau des '/' et dont les parties se mettent dans les colonnes d'un tableau 
    var page = url.Split('/').Last();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color : rgba(16, 35, 80, 0.7)">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navigation" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"> @Html.ActionLink("Accueil", "Index", "Home", null, new { @class = "nav-link" + (@page.Equals("Index") || String.IsNullOrEmpty(@page)?" active":"")})
                                        </li>
                    <li class="nav-item"> @Html.ActionLink("Ajouter Courtier", "AddBroker", "Home", null, new { @class = "nav-link" + (@page.Equals("AddBroker")? " active" : "")})</li>
                    <li class="nav-item"> @Html.ActionLink("Ajouter Client", "AddCustomer", "Home", null, new { @class = "nav-link" + (@page.Equals("AddCustomer") ? " active" : "") })</li>
                    <li class="nav-item"> @Html.ActionLink("Ajouter un Rendez-vous", "AddAppointment", "Home", null, new { @class = "nav-link" + (@page.Equals("AddAppointment") ? " active" : "") })</li>
                    <li class="nav-item"> @Html.ActionLink("Liste Courtiers", "ListBrokers", "Home", null, new { @class = "nav-link" + (@page.Equals("ListBrokers") ? " active" : "") })</li>
                    <li class="nav-item"> @Html.ActionLink("Liste Clients", "ListCustomers", "Home", null, new { @class = "nav-link" + (@page.Equals("ListCustomers") ? " active" : "") })</li>
                </ul>
            </div>
        </div>
    </nav>

@RenderBody()
    @Scripts.Render("~/Scripts")
</body>
</html>
